{% extends "base.html" %}
{% block content %}
{% load static %}

<head>
	<style>
		.thumb-image img{
		  width: 100%; 
		  height: 400px; 
		  max-height: 450px; 
		}
	</style>
</head>

	<!-- banner-2 -->
	<div class="page-head_agile_info_w3l">

	</div>
	<!-- //banner-2 -->
	<!-- page -->
	<div class="services-breadcrumb">
		<div class="agile_inner_breadcrumb">
			<div class="container">
				<ul class="w3_short">
					<li>
						<a href="{% url 'product' %}">Store</a>
						<i>|</i>
					</li>
					<li>Product</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- //page -->

	<!-- Single Page -->
	<div class="banner-bootom-w3-agileits py-5">
		<div class="container py-xl-4 py-lg-2">
			<!-- tittle heading -->
			<h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
				<span>P</span>roduct
				<span>P</span>age</h3>
			<!-- //tittle heading -->
			<div class="row">
				<div class="col-lg-5 col-md-8 single-right-left ">
					<div class="grid images_3_of_2">
						<div class="flexslider">
							<ul class="slides">
								<li data-thumb="{{ single_product.images.url }}">
									<div class="thumb-image">
										<img src="{{ single_product.images.url }}" data-imagezoom="true" class="img-fluid" alt=""> </div>
								</li>
			
							</ul>
							<div class="clearfix"></div>
						</div>
					</div>
				</div>

				
           <div class="col-lg-7 single-right-left simpleCart_shelfItem">
					
			<form action="{% url 'add_cart' single_product.id %}" method="POST">
				{% csrf_token %}
					
				<h3 class="mb-3">{{ single_product.product_name }}</h3>
					<p class="mb-3">
						<span class="item_price">$ {{ single_product.price }}</span>
						
						<label>Free delivery</label>
					</p>
                    
					<p class="mb-3">
						
						
						<label>{{ single_product.description }}</label>
					</p>
                 <hr>
					
					<div class="row ml-2">
						<div class="item-option-select">
							<h6>Choose Color</h6>
							<select name="color" class="form-control mt-2" required>
                                <option value="" disabled selected>Select</option>
								{% for i in single_product.variation_set.colors %}
								<option value="{{ i.variation_value | lower }}">{{ i.variation_value | capfirst }}</option>
								{% endfor %}
							</select>
							
						</div>
					</div> <!-- row.// -->
					
					<div class="row ml-2 mt-3">
						<div class="item-option-select">
							<h6>Select Size</h6>
							<select name="size" class="form-control mt-2">
								<option value="" disabled selected>Select</option>

								{% for i in single_product.variation_set.sizes %}
								<option value="{{ i.variation_value | lower }}">{{ i.variation_value | capfirst }}</option>
								{% endfor %}
							</select>
							
						</div>
					</div> <!-- row.// -->
					<hr>


					
					
					
					<div class="occasion-cart">
						<div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
							<form action="#" method="post">
								
									
									{% if single_product.stock <= 0 %}
									<h5 class="text-danger">Out of Stock</h5>
									{% else %}
									<button type="submit"  class="btn btn-primary"><span class="text">Add to Cart </span><i class="fas fa-shopping-cart"></i></button>
									{% endif %}
								</form>
								
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //Single Page -->

	

	{% endblock %}